.signup-div {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: auto;
}
.signup-inner-div {
  width: 80%;
  height: 70%;
  background-color: rgb(29, 29, 29);
  display: flex;
  padding: 53px;
  border-radius: 22px;
  justify-content: space-between;
  margin-top: 3%;
  color: white;
}
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 22px;
  justify-content: center;
}
.signup-form > input {
  margin-top: 12px;
  padding: 12px;
  border-radius: 22px;
}
.signup-form > label {
  margin-left: 12px;
  margin-top: 2px;
  font-size: 12px;
}

.signup-form > button {
  margin-top: 25px;
  padding: 12px;
  border-radius: 22px;
  background-color: rgb(175, 213, 247);
}
.signup-form > button:hover {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .signup-inner-div {
    flex-direction: column;
    height: 100%;
  }
}
.error {
  color: red;
}
.sucess {
  color: green;
}
